body {
    background: linear-gradient(120deg, #da4c93, #832876);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.arena {
    width: 420px;
    padding: 25px;
    background: rgba(36, 5, 22, 0.12);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(230, 227, 228, 0.5);
}

h1 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.option {
    background: rgba(255,255,255,0.15);
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    background: rgba(255,255,255,0.25);
}

.correct {
    background: #2ecc71 !important;
}

.wrong {
    background: #e74c3c !important;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
